.customBtn button {
  display: flex;
  padding: 10px 16px;
  height: 40px;
  border: none;
  color: white;
  align-items: center;
  font-size: 14px;
  justify-content: center;
  width: 80%;
  font-weight: bold;
  background-color: rgba(45, 156, 219, 1);
}
