.info_container{
    display: flex;
    flex-direction: row;
    height: 85vh;
   
    padding-top:2% ;
    padding-bottom: 2%;
}
.left{
    width:20%;
    height: 80vh;
    padding:0 0 2% 2%;
   
    
}
.left button{
    width: 100%;
    text-align: center; 
    height: 3rem; 
    font-size: 12px;
}
.right{
    display: flex;
    flex-direction: row;
    width:80%;
    height: 80vh;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;


}

.btnContainer{
    display: flex;
    height: 60px;
    width: 17%;
    position: fixed;
    right: 0;
  margin-left: -50px;
   
}
.btnContainer button{
    margin-top: 10px;
    padding: .4rem 2rem;
    font-size: 14px;
    border-radius: 8px;
}
.btn_container{
    display: flex;
    height: 60px;
    width: 100%; 
}
.btn_container button{
    margin-top: 10px;
    padding: .4rem 2rem;
    font-size: 14px;
    border-radius: 8px;
}
.green{
    color: white;
    background: rgba(69, 159, 100, 1);
    
}
.editContainer{
    
    float:left;
    padding: 0 5%;
    width: 75%;
    
}
.editContainer h1{
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 20px;
}
.editinfo{
    float: left;
    width: 45%;
    flex-direction: column;
    margin-right: 25px;
} 
.editinfo select{
    height: 3rem;
    color: black;
    padding: .8rem 1rem;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.29);
    border-radius: 15px;
    outline: none;
    border-radius: 5px;
    width: 100%;
  }

  .editinfo textarea{
    width: 100%;
  height: 150px;
    color: black;
    padding: .8rem 1rem;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.29);
    border-radius: 15px;
    outline: none;
    border-radius: 5px;
  }
.center{
    
    color: white;
    margin-top: 10px;
}
.left_Curve{
    background: white;
    color: black;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.right_Curve{
    color: black;
    margin-top: 10px;
    border-top-right-radius:20px;
    border-bottom-right-radius: 20px;
}
.green {
    background: rgba(69, 159, 100, 1);
    color: white;
}
.white{
    background-color: #fff;
}
.white_container{
    display: flex;
    flex-direction: row;
    margin: 1% 2% ;
    width:90%;
    padding: 2% 5%;
    height: 72vh;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.dropDown{
    margin: 1% 2% ;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
}
.dropDown select{
    height: 2.5rem;
    padding: .4rem 1rem;
    color: rgba(0, 0, 0, 0.4);;
    display: block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    outline: none;
    border-radius: 5px;

  }
  
.dropDown_container button{
    width: 100px;
    padding: .8rem .8rem;
    font-size: 12px;
    margin-bottom: 10px; 
}
.table_container{
    height: 100%;
    
}

.assignment_container{
    height: 70vh;
    display: flex;
    flex-direction: row;
    padding: 2%;
    
}
.lefty{
    display: flex;
    width: 40%;
   
}
.righty{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 58%;
    box-shadow: 0px 0px 30px 5px rgba(153, 149, 149, 0.11);
    margin-left: 2%;
    border-radius: 15px;
    padding: 2%;
    
}
.righty h2 {
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 20px;
}
.righty ol {
    margin-left: 20px;
}
.righty ol:hover {
    transition: none;
}
.lefty{
    display: flex;
    flex-direction: column;
   
    width: 35%;
    
}
.lefty textarea{
    width: 100%;
  height: 200px;
    color: black;
    padding: .8rem 1rem;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.29);
    border-radius: 15px;
    outline: none;
    border-radius: 5px;
  }

  .test_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2%;
    margin-top: 20px;
}
.next {
    padding: 1rem 2rem;
    background: rgba(69, 159, 100, 1);
    border-radius: 10px;
    color: white;
    margin-right: 20px;
    font-size: 10px;
}
.submit {
    padding: 1rem 2rem;
    background: rgba(52, 26, 37, 1);
    border-radius: 10px;
    color: white;
    font-size: 10px;
}
.uploadWrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    /* background-color: gray; */
    background: rgba(69, 159, 100, 1);
    padding: .8rem 1rem;
    border-radius: 10px;
  }
  
  .uploadBtn {
    border: 1px dotted #bdbdbd;
    color: rgb(255, 255, 255);
    font-size: 10px;
    padding: .2rem;
    
  }
  
  .uploadWrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .material_btn{
    background: rgba(52, 26, 37, 1);
    border-radius: 10px;
    padding: .5rem 1.2rem;
    color: white;
  }