.viewInfoBtn {
  display: flex;
  width: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.eachGridBox header {
  font-size: 16px;
  font-weight: bold;
}

.viewInfoBtn button {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-left: 30px;
  padding: 1rem;
  background-color: #83d7f3;
  border-radius: 5px;
  color: azure;
}

.gridBox {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  justify-content: center;
  padding: 10px;
  padding: 2rem;
}

.eachGridBox {
  display: grid;
  padding: 1rem;
  background-color: whitesmoke;
  border-radius: 10px;
}

.candidateBtn {
  background: rgb(245, 197, 76);
  color: black;
  padding: 1rem 2.4rem;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  margin-left: 10px;
}

.stBtn {
  padding: 1rem;
  width: 15%;
  margin-left: 30px;
  font-weight: bold;
  background-color: #2d9cdb;
  border-radius: 5px;
  color: azure;
}
