.userDataFormContainer {
  margin-left: 3%;
}

.userDataForm {
  padding: 2rem;
}

.userDataFormTitle {
  display: flex;
  width: 80%;
  padding-top: 1.5rem;
  margin-left: 40px;
}

.userDataFormTitle span {
  padding: 1rem;
  width: 19%;
  margin-left: 3%;
  font-weight: bold;
  background-color: #83d7f3;
  border-radius: 5px;
  color: azure;
}

.Btn {
  display: flex;
}

.stBtn {
  padding: 1rem;
  width: 15%;
  margin-left: 2.5%;
  font-weight: bold;
  background-color: #2d9cdb;
  border-radius: 5px;
  color: azure;
}
