/* .bioDataContainer {
  margin-left: 3%;
} */

/* .bioData {
  padding: 2rem;
} */

.bioDataTitle {
  display: flex;
  width: 80%;
  padding-top: 1.5rem;
  margin-left: 40px;
}

.bioDataTitle span {
  padding: 1rem;
  width: 19%;
  margin-left: 3%;
  font-weight: bold;
  background-color: #83d7f3;
  border-radius: 5px;
  color: azure;
}

.bioDataForm {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 3%;
  grid-row-gap: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 2.5rem;
}

.bioDataForm input {
  width: 95%;
  padding: 15px 20px;
  border-radius: 10px;
  border: 3px solid lightgray;
  background-color: whitesmoke;
}

.newForm {
  display: flex;
  flex-direction: column;
}

.newForm label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.bioDataSelect {
  width: 95%;
  border: 3px solid lightgray;
  border-radius: 10px;
  padding: 15px 20px;
  background-color: whitesmoke;
}

.stBtn {
  padding: 1rem;
  width: 15%;
  margin-left: 2.5%;
  font-weight: bold;
  background-color: #2d9cdb;
  border-radius: 5px;
  color: azure;
}
