.modalContainer {
  width: 100vw;
  height: 50px;
  background-color: rgb(160, 155, 155) transparent;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 700px;
  height: 550px;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 75px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.modalContent .title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.modalCancelButton {
  display: flex;
  justify-content: flex-end;
}

.modalCancelButton button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

/* .modalContent .body {
  flex: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-align: center;
} */

.modalForm {
  display: grid;
  /* justify-content: center;
  align-items: center; */
}

.modalForm label {
  font-size: 13px;
  font-weight: bold;
}

.modalForm input {
  width: 100%;
  border: 3px solid lightgray;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.stBtn {
  width: 100%;
  background-color: #2d9cdb;
  padding: 10px 20px;
  color: azure;
  border-radius: 10px;
  position: relative;
  top: 50%;
}
