/* .familyDataConatiner {
  margin-left: 3%;
} */

/* .familyData {
  padding: 2rem;
} */

.familyDataTitle {
  display: flex;
  width: 80%;
  padding-top: 1.5rem;
  margin-left: 40px;
}

.familyDataTitle span {
  padding: 1rem;
  width: 19%;
  margin-left: 3%;
  font-weight: bold;
  background-color: #83d7f3;
  border-radius: 5px;
  color: azure;
}

.familyDataForm {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 3%;
  grid-row-gap: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 2.5rem;
}

.familyDataForm input {
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  border: 2.5px solid lightgray;
}

.familyDataSelect {
  border: 2.5px solid lightgray;
  border-radius: 10px;
  padding: 15px 20px;
}

.stBtn {
  padding: 1rem;
  width: 15%;
  margin-left: 2.5%;
  font-weight: bold;
  background-color: #2d9cdb;
  border-radius: 5px;
  color: azure;
}
