.newStudentContainer {
  margin-left: 3%;
}

.newStudent {
  padding: 2rem;
}

.newStudentTitle {
  /* display: flex; */
  width: 100%;
  padding-top: 1.5rem;
  margin-left: 40px;
}

.newStudentTitle button {
  padding: 1rem;
  width: 230px;
  margin-left: 3%;
  font-weight: bold;
  background-color: #83d7f3;
  border-radius: 5px;
  color: azure;
}

.newStudentForm {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 4%;
  grid-row-gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 2.5rem;
}

.newStudentForm input {
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  border: 3px solid lightgray;
}

.stBtn {
  padding: 1rem;
  width: 15%;
  margin-left: 2.5%;
  font-weight: bold;
  background-color: #2d9cdb;
  border-radius: 5px;
  color: azure;
}

.newStudentSelect {
  border: 3px solid lightgray;
  border-radius: 10px;
  padding: 15px 20px;
}

/* .stBtn :hover {
  background-color: whitesmoke;
  color: black;
  border-radius: 10px;
  margin-left: 5px;
  transition: all 0.5s;
} */
