.sideBar_container {
  display: flex;
  width: 15%;
  height: 100vh;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
  padding: 3rem 0;
  background: rgb(255, 255, 255);
  margin: 0 ;
  align-items: center;
  justify-content: space-around;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  align-items: center;
  font-size: 14px;
}
.logo {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  height: 7rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.logo img {
  object-fit: contain;
  max-height: 4rem;
}
.User {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
.url {
  display: flex;
}

.url ul {
  display: inline-block;
  list-style: none;
  flex-direction: column;
  
}

.url ul li {
  display: flex;
  padding: 0.6rem 1rem;
  margin: 0.5rem;
  align-items: center;
}
.svg {
  margin-right: 12px;
 
}

.url ul li:hover {
  background: linear-gradient(360deg, 
  rgba(72, 30, 47, 0.62)4%,
  rgba(59, 15, 33, 0.34)96%);
  border-radius: 8px;
  font-weight: 800;
  }

  
