.navbar {
  width: 90%;
  padding: 3%;
  margin-left: 5%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  /* background-color: blueviolet; */

  padding-left: 2%;
  color: rgb(3, 3, 3);
  height: 3.5rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 1px 8px 5px 2px rgba(92, 92, 92, 0.45);
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0.5rem;
}
.navbar ul li {
  display: flex;
  margin: 0.5rem;
  padding: 0.3rem 0.5rem;
  text-align: center;
}

.remote {
  background-color: rgba(45, 156, 219, 1);
  color: rgb(2, 0, 0);
  border: solid 2px black;
  border-radius: 5px;
}
